<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
{% load staticfiles %}
{% load leaflet_tags %}
<script>
	function map_init_basic (map, options) {
		var markers = [];
		{% for i in lsp %}
		markers.push(new L.marker([{{ i.0 }}, {{ i.1 }}], {riseOnHover: true, title: 'Stayed from {{ i.2 }} to {{ i.3 }}'}).addTo(map));
		{% endfor %}
		var feats = L.featureGroup(markers);
		var sw = feats.getBounds().getSouthWest(), ne = feats.getBounds().getNorthEast();
		if (Math.abs(sw.lat - ne.lat) < 0.002) {
			sw.lat -= 0.001;
			ne.lat += 0.001;
		}
		if (Math.abs(sw.lon - ne.lon) < 0.002) {
			sw.lon -= 0.001;
			ne.lon += 0.001;
		}
		map.fitBounds(L.latLngBounds(sw, ne));
    }
    </script>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
{% leaflet_map "staymap" callback="window.map_init_basic" %}
<script type="text/javascript">
$("#staymap").height($(window).height()*90/100).width($(window).width()*90/100);
map.invalidateSize();
</script>
</body>
</html>