<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% load staticfiles %}
{% load leaflet_tags %}
<script>
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {

		var data = google.visualization.arrayToDataTable([
			['Timestamp', 'Battery'],
			{% for x in data %}
			["{{ x.0 }}", {{ x.1 }}],
			{% endfor %}
			]);

		var options = {
			title: 'Battery levels per timestamp',
			hAxis: {title: 'Timestamp'},
			vAxis: {title: 'Level', minValue: 0, maxValue: 100}
		};

		var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
	function map_init_basic (map, options) {
		var wifiicon = new L.icon({iconUrl: '{% static "webapp/ap.ico" %}', iconSize: [15, 15]});
		var bssicon = new L.icon({iconUrl: '{% static "webapp/bss.ico" %}', iconSize: [25, 25]});
		var markers = [];
		{% for i in wifi %}
		markers.push(new L.marker([{{ i.realpos__latitude }}, {{ i.realpos__longitude }}], {icon:wifiicon, riseOnHover: true, title: 'SSID = {{ i.ssid }}, RSSI = {{ i.RSSI }}, Freq = {{ i.frequency }}Hz'}).addTo(map));
		{% endfor %}
		{% for i in bss %}
		markers.push(new L.marker([{{ i.latitude }}, {{ i.longitude }}], {riseOnHover: true, title: 'Operator = {{ i.operator }}, MCC = {{ i.mcc }}, MNC = {{ i.mnc }}, CID = {{ i.cid }}, LAC = {{ i.lac }}', icon: bssicon}).addTo(map));
		{% endfor %}
		latlngs = [];
		{% for i in gps %}
		latlngs.push(new L.LatLng({{ i.latitude }}, {{ i.longitude }}));
		{% endfor %}
		var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
		markers.push(polyline);
		var feats = L.featureGroup(markers);
		var sw = feats.getBounds().getSouthWest(), ne = feats.getBounds().getNorthEast();
		if (Math.abs(sw.lat - ne.lat) < 0.002) {
			sw.lat -= 0.001;
			ne.lat += 0.001;
		}
		if (Math.abs(sw.lon - ne.lon) < 0.002) {
			sw.lon -= 0.001;
			ne.lon += 0.001;
		}
		map.fitBounds(L.latLngBounds(sw, ne));
    }
    </script>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
{% leaflet_map "trackingmap" callback="window.map_init_basic" %}
<script type="text/javascript">
$("#trackingmap").height($(window).height()*60/100).width($(window).width()*90/100);
map.invalidateSize();
</script>
<br />
<div id="chart_div" style="width: 100%; height: 500px;"></div>
</body>
</html>